<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366587808720-akvbehd8kujidlnvlb5gbuc0spqsvmbv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366587808720-akvbehd8kujidlnvlb5gbuc0spqsvmbv</string>
	<key>API_KEY</key>
	<string>AIzaSyAKcFpVj3xiUtd9XBAX9lOE1uLQZl3KIjY</string>
	<key>GCM_SENDER_ID</key>
	<string>366587808720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gifticonapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-changyung</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-changyung.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366587808720:ios:b741aa824fc12b442b47d5</string>
</dict>
</plist>